
  <div class='postHeader'>
    <div class='postHeaderLeft'>
      <a href='#'>
        <span class='postTitle'>Audio</span>
      </a>
    </div>

    <div class='postHeaderRight'>

    </div>

    <div class='postInfo'>
      <p class='postSubheader'><%= current_user.username %></p>
      <p class='postSubheader'><%= post.created_at.strftime("%B %d, %Y") %></p>
    </div>
  </div>

  <div class='postContent'>

    <div class='mediaWrap'>
      <% embeddable = get_embed_link(post.media_url).first %>
      <% if embeddable.html %>
        <%= embeddable.html.html_safe %>
      <% else %>
        <%= render partial: 'dashboards/error_404', layouts: nil %>
        <p> The poros didn't like your music, try another song </p>
      <% end %>
    </div>

    <div class='contentWrap'>
      <% if embeddable.description %>
        <p class='postDescription'><%= embeddable.description %></p>
      <% end %>
    </div>

  </div>

  <div class='postFooter'>
  </div>