  <div class='postHeader'>
    <div class='postHeaderLeft'>
      <p class='postSubheader'><%= current_user.username %></p>
      <a href='#'>
        <span class='postTitle'>Link</span>
      </a>
      <div class='postInfo'>
        <p class='postSubheader'><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>

    <div class='postHeaderRight'>
      <img></img>
    </div>
  </div>

  <div class='postContent'>

    <div class='mediaWrap'>

    </div>

    <div class='contentWrap'>
      <div class='linkPreview'>
        <a href='<%= post.url %>' class='linkPostLink'><%= post.title %></a>
      </div>
      <p class='postCaption'><%= post.caption %></p>
    </div>

  </div>

  <div class='postFooter'>
  </div>