<!DOCTYPE html>
<html>
<head>
  <title>TumblrClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <div class='mainHeader'>
    <div class='headerIcon'>
    </div>
    <div class='headerSignInWrapper'>
      <% if current_user %>
        <div>
          <span><%= current_user.username %></span>
        </div>
        <%= button_to "Log Out", session_url, {method: :delete} %>
      <% else %>
      <% end %>

    </div>

    <div class='headerMainNavbar'>
    </div>
  </div>

	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<%= error %>
			</br>
	  <% end %>
  <% end %>

<%= yield %>

</body>
</html>
