<!DOCTYPE html>
<html>
<head>
  <title>TumblrClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
</head>
<body>
  <%= render 'dashboard/main_navbar' %>

	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<%= error %>
			</br>
	  <% end %>
  <% end %>

<%= yield %>

</body>
</html>
