<!DOCTYPE html>
<html>
<head>
  <title>TumblrClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='mainContentWrapper'>
    <div class='openingBackground'>
      <img src='<%= get_splash_image %>'></img>
    </div>

   <%= yield %>

  	<% if flash[:errors] %>
  		<% flash[:errors].each do |error| %>
  			<%= error %>
  			</br>
  	  <% end %>
    <% end %>

  </div>
</body>
</html>